body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav{
    z-index: 1;
    background-color: white;
}
.headerBtn{
    background: #6D1830;
    color: white;
}

.hero{
 background: #FFF9F2;
 display: flex;
 justify-content: space-between;
 }

.op{
font-family: Lora;
font-size: 35px;
font-weight: 300px;
line-height: 42px;
letter-spacing: 0px;
text-align: left;
padding-right: 220px;
}
.re{
font-family: Open Sans;
font-size: 20px;
font-weight: normal;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
padding-right: 220px;
}

.ff{
 color:#6B7280 ;   
}

.om{
    display: flex;

}

.po{
    width: 700px;
}

.cl{
    color: #000;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

.ex{
font-family: Lora;
font-size: 25px;
font-weight: 350px;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
margin-right: 60px;
padding-right: 50px;
padding-top: 50px;
}

.ca{
font-family: Lora;
font-size: 18px;
font-weight: small;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
padding-right: 140px;
}

.ss{
    display: flex;
    gap: 250px;
    }
.as{
    margin-top: 40px;
}
.ff{
    display: flex;
    gap: 250px;
    color: #000;
}
.bg{
    margin-right: 50px;
}
.ba{
    font-family: Lora;
    font-size: 26px;
    font-weight: small;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left; 
}

.wi{
    background: #6D1830;
    color: white;
    /* margin-left: 60px;    */
}



@media screen and (max-width: 481px){
    .hero{
        background: #FFF9F2;
        display: block;
        justify-content: center;
        margin-top: -140px;
        } 

        .op{
            font-family: Lora;
            font-size: 29px;
            font-weight: 200px;
            line-height: 32px;
            text-align: center;
            padding-top: 50px;
            padding-right: 50px;
            
            }
            .re{
            font-family: Open Sans;
            font-size: 17px;
            font-weight: normal;
            letter-spacing: 0px;
            text-align: center;
            padding-right: 50px;
            /* margin-left: -50px; */
            }
            .headerBtn{
                background: #6D1830;
                color: white;
                margin-left: -60px;
                display: none;
            }

            .wi{
                background: #6D1830;
                color: white;
                margin-left: -60px;   
            }

            .star{
                display: block;
                padding-right: 50px;
            }
            
            .om{
             display: block;
             text-align: center;
            }
            .gr{
           width: 70%;
           justify-content: center;
           align-items: center;
           text-align: center;
           margin-left: 46px;
            }

            .star{
                justify-content: center
            }

            .po{
                width: 400px;
                
            }

            .ss{
                display: block;
                /* gap: 250px; */
            }
            .as{
                margin-top: 40px;
            }

            .ex{
                font-family: Lora;
                font-size: 16px;
                /* font-weight: 200px; */
                line-height: 20px;
                letter-spacing: 0px;
                text-align: left;
                margin-left:  20px;
                }
                
                .ca{
                font-family: Lora;
                font-size: 12px;
                /* font-weight: small; */
                /* line-height: 32px; */
                letter-spacing: 0px;
                text-align: left;
                margin-left:  20px;
                }
                .sv{
                    text-align: left; 
                    font-size: 10px;
                    margin-left:  20px;
                }
                .ff{
                    display: block;
                    /* gap: 250px;
                    color: #000; */
                }
}