body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav{
    z-index: 1;
    background-color: white;
}
.headerBtn{
    background: #6D1830;
    color: white;
}

.hero{
 background: #FFF9F2;
 display: flex;
 justify-content: space-between;
 }

.op{
font-family: Lora;
font-size: 35px;
font-weight: 300px;
line-height: 42px;
letter-spacing: 0px;
text-align: center;
padding-right: 220px;
}
.re{
font-family: Open Sans;
font-size: 20px;
font-weight: normal;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
padding-right: 220px;
}

.ff{
 color:#6B7280 ;   
}

.om{
    display: flex;

}

.po{
    width: 700px;
}

.cl{
    color: #000;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

.ex{
font-family: Lora;
font-size: 25px;
font-weight: 350px;
line-height: 30px;
letter-spacing: 0px;
text-align: center;
margin-right: 60px;
padding-right: 50px;
padding-top: 50px;
}

.ca{
font-family: Lora;
font-size: 18px;
font-weight: small;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
padding-right: 140px;
}
.ile{
    
    margin-left: 50px;
    margin-top: 20px;
}

.im{
    font-family: Lora;
    font-size: 25px;
    font-weight: 350px;
    line-height: 30px;
    letter-spacing: 0px;
    width: 390px;
    padding-top: 50px;  
}

.il{
display: flex;
/* margin-left: -50px; */
gap: 320px;
padding-right: 160px;
}

.ss{
    display: flex;
    gap: 250px;
    }
.as{
    margin-top: 40px;
    /* width: 390px; */
}
.ff{
    display: flex;
    gap: 250px;
    color: #000;
}
.bg{
    margin-right: 50px;
    margin-left: 90px;
    margin-top: 20px;
}
.ba{
    font-family: Lora;
    font-size: 26px;
    font-weight: small;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center; 
}

.wi{
    background: #6D1830;
    color: white;
    
}
.xe{
    font-family: Lora;
    font-size: 25px;
    font-weight: 350px;
    line-height: 30px;
    letter-spacing: 0px;
    /* text-align: center; */
    padding-top: 50px;
    /* width: 300px; */
}
.wh{
    font-family: Lora;
    font-size: 15px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0px;
    /* text-align: center; */
    padding-right: 30px; 
}
.di{
    width: 490px;
    
}
.vs{
    font-size: 10px;
}
.uu{
    margin-left: 50px;
    margin-top: 20px;
}
.gg{
    display: flex; 
}
.com{
    background: #FFF9F2;
    /* height: 190vh; */
}
.blu{
     background: #14394C;
        height: 40vh;
    width: 90%;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    gap: 80px;
}
.yes{
    margin-left: 50px;
    margin-top: -50px;
}
.RF{
      font-family: Lora;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    }
.pt{
font-family: Lora;
font-size: 20px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
}
.xet{
    margin-top: 35px;
    color: white;
    padding-right: 200px;
    margin-left: 100px;
    
}
.hb{
    background: white;
    color: black;
    font-weight: bold;
}

.le{
    margin-top: 90px;
    width: 90%;
    margin-left: 50px;
}
.fer{
font-family: Lora;
font-size: 28px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0px;
text-align: center;

}
@media screen and (max-width:481px){
    .hero{
        background: #FFF9F2;
        display: block;
        justify-content: center;
        margin-top: -140px;
        } 

        .op{
            font-family: Lora;
            font-size: 29px;
            font-weight: 200px;
            line-height: 32px;
            text-align: center;
            padding-top: 50px;
            padding-right: 50px;
                       }
            .re{
            font-family: Open Sans;
            font-size: 17px;
            font-weight: normal;
            letter-spacing: 0px;
            text-align: center;
            padding-right: 50px;
                      }
            .headerBtn{
                background: #6D1830;
                color: white;
                margin-left: -60px;
                display: none;
            }

            .wi{
                background: #6D1830;
                color: white;
                margin-left: -60px;   
            }

            .star{
                display: block;
                padding-right: 50px;
            }
            
            .om{
             display: block;
             text-align: center;
            }
            .gr{
           width: 70%;
           justify-content: center;
           align-items: center;
           text-align: center;
           margin-left: 46px;
            }

            .star{
                justify-content: center
            }

            .po{
                width: 400px;
                
            }

            .ss{
                display: block;
                margin-left: -10px;
            }
            .as{
                margin-top: -600px;
            }
            .uu{
                margin-left: 40px;
                margin-top: 250px;
            }

            .ex{
                font-family: Lora;
                font-size: 16px;
                 line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
                margin-left:  60px;
                padding-bottom: -390px;
                /* padding-right: 20px; */
                }
                
                .ca{
                font-family: Lora;
                font-size: 12px;
                letter-spacing: 0px;
                text-align: center;
                margin-left:  40px;
                line-height: 15px;
                padding-right: 80px;
                
                }
                .sv{
                    text-align: center; 
                    font-size: 10px;
                    margin-left:  13px;
                }
                .gg{
                    display: block;
                    margin-top: 950px;
                    margin-left: -10px;
                    
                                    }
                    .ns{
                        font-size: 10px;
                        margin-left: 30px;
                    }
                  .bg{
                      margin-right: 50px;
                      margin-left: 60px;
                      margin-top: 20px;
                      }
                                    /* mmm */
                 .xe{
                     font-family: Lora;
                     font-size: 16px;
                     font-weight: 350px;
                     line-height: 30px;
                     letter-spacing: 0px;
                     text-align: center;
                     padding-top: 50px;
                     margin-left: -67px;
                     }
                 .wh{
                     font-family: Lora;
                     font-size: 13px;
                     font-weight: normal;
                     line-height: 16px;
                     letter-spacing: 0px;
                                          }
                 .vs{
                     font-size: 10px;
                                          }
                 /* mm */
                 .im{
                    font-family: Lora;
                    font-size: 16px;
                    /* font-weight: 350px; */
                    line-height: 20px;
                    letter-spacing: 0px;
                    text-align: center;
                    margin-left: -20px;
                                        
                }
                .ia{
                    font-family: Lora;
                    font-size: 13px;
                    letter-spacing: 0px;
                    text-align: center;
                    margin-left:  30px;
                    line-height: 15px;
                    width: 290px;
                }
                
                .il{
                display: block;
                margin-left: -50px;
                gap: 320px;
                 padding-right: 160px; 
                }
                .di{
                    margin-left:70px;
                    /* padding-right: 20px; */
                    width: 100%;
                    margin-top: -600px ;
                }
                .ile{
    
                    margin-left: 90px;
                    margin-top: 270px;
                }
                .blu{
                    background: #14394C;
                    height: 80vh;
                    width: 280px;
                   /* margin-left: 50px; */
                   margin-top: 50px;
                   border-radius: 10px;
                   display: block;
                   gap: 80px;
               }
               .com{
                background: #FFF9F2;
                /* height: 190vh; */
                margin-top: 400px;
            }
            .xet{
                margin-top: -550px;
                color: white;
                /* padding-right: 200px; */
                margin-left: 50px;
                width: 400px;
                text-align: center;
             }
            .yes{
                margin-left: 40px;
                margin-top: 220px;
                 }
            .RF{
                font-family: Lora;
                font-size: 23px;
                font-weight: 200;
                line-height: 40px;
                letter-spacing: 0px;
                text-align: left;
                 }
            .pt{
                font-family: Lora;
                font-size:16px;
                font-weight: 200;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: left;
                }
                .hb{
                    background: white;
                    color: black;
                    font-weight: bold;
                    align-items: center;
                    margin-right: 20px;
                }
            }
                    