body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav{
    z-index: 1;
    background-color: white;
}
.headerBtn{
    background: #6D1830;
    color: white;
}

.hero{
 background: #FFF9F2;
 display: flex;
 justify-content: space-between;
 }

.op{
font-family: Lora;
font-size: 45px;
font-weight: 600;
line-height: 52px;
letter-spacing: 0px;
text-align: left;

}
.re{
font-family: Open Sans;
font-size: 30px;
font-weight: normal;
line-height: 28px;
letter-spacing: 0px;
text-align: left;

}

.ff{
 color:#6B7280 ;   
}

.om{
    display: flex;

}

.po{
    width: 900px;
}

.cl{
    color: #000;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
}

.ex{
font-family: Lora;
font-size: 32px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0px;
text-align: left;
}

.ca{
font-family: Lora;
font-size: 20px;
font-weight: small;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
}

.ss{
    display: flex;
    gap: 250px;
}
.as{
    margin-top: 40px;
}
.ff{
    display: flex;
    gap: 250px;
    color: #000;
}
.bg{
    margin-right: 50px;
}
.ba{
    font-family: Lora;
    font-size: 26px;
    font-weight: small;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left; 
}



@media screen and (max-width: 481px){
    .hero{
        background: #FFF9F2;
        display: block;
        justify-content: center;
        margin-top: -138px;
        } 

        .op{
            font-family: Lora;
            font-size: 35px;
            font-weight: 200;
            /* line-height: 52px; */
            letter-spacing: 0px;
            text-align: center;
            
            }
            .re{
            font-family: Open Sans;
            font-size: 25px;
            font-weight: normal;
            /* line-height: 28px; */
            letter-spacing: 0px;
            text-align: center;
            
            }
            .headerBtn{
                background: #6D1830;
                color: white;
            }

            .star{
                display: block;
            }
            
            .om{
                display: block;
                                text-align: center;
            }
            .gr{
           width: 70%;
           justify-content: center;
           align-items: center;
           text-align: center;
           margin-left: 46px;
            }

            .star{
                justify-content: center
            }

            .po{
                width: 400px;
                
            }

            .ss{
                display: block;
                /* gap: 250px; */
            }
            .as{
                margin-top: 40px;
            }

            .ex{
                font-family: Lora;
                font-size: 15px;
                font-weight: 100;
                line-height: 20px;
                letter-spacing: 0px;
                text-align: center;
                }
                
                .ca{
                font-family: Lora;
                font-size: 12px;
                font-weight: small;
                /* line-height: 32px; */
                letter-spacing: 0px;
                text-align: center;
                }
                .sv{
                    text-align: center; 
                }
                .ff{
                    display: block;
                    /* gap: 250px;
                    color: #000; */
                }
}